<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alternative.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>

    <userSettings>
        <Alternative.Properties.Settings>
            <setting name="CardColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>num;System.Int64;unique</string>
                        <string>pin;System.String;</string>
                        <string>nom;System.Int32;</string>
                        <string>date_s;System.DateTime;</string>
                        <string>date_e;System.DateTime;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>1123/omGRVKvV5iQb7nkh2CNpgoAmMQWTzgdoWt4xHerx0axUCg2g72uDTTE2GuLi5qr9UkRdOCGTWWo9TsNeYPR/laWksjeSkgA3SlDylkKQnU=</value>
            </setting>
            <setting name="edt" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CountRepeatGetState" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IntervalGetState" serializeAs="String">
                <value>2000</value> 
            </setting>
        </Alternative.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAlternate" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ServiceModelSamples/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAlternate"
                contract="AltServSpace.IAlternate" name="WSHttpBinding_IAlternate">
                <identity>
                    <servicePrincipalName value="host/WIN-RHQJBONCD0B" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
